services:
  - type: web
    name: gateway
    runtime: node
    plan: free
    rootDir: gateway/src
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: "22.16.0"
      - key: DATABASE_URL
        fromDatabase:
          name: products-db
          property: connectionString
      - key: PRODUCTS_URL
        fromService:
          type: pserv
          name: products
          property: hostport
      - key: ORDERS_URL
        fromService:
          type: pserv
          name: orders
          property: hostport
      - key: USERS_URL
        fromService:
          type: pserv
          name: users
          property: hostport

  # Products Service
  - type: pserv
    name: products
    runtime: docker
    dockerfilePath: ./services/products/dockerfile
    dockerContext: ./services/products
    plan: starter
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: products-db
          property: connectionString

  # Orders Service
  - type: pserv
    name: orders
    runtime: docker
    dockerfilePath: ./services/orders/dockerfile
    dockerContext: ./services/orders
    plan: starter
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: products-db
          property: connectionString

  # Users Service
  - type: pserv
    name: users
    runtime: docker
    dockerfilePath: ./services/users/dockerfile
    dockerContext: ./services/users
    plan: starter
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: products-db
          property: connectionString

  # Gradio UI
  - type: web
    name: gradio-ui
    runtime: docker
    dockerfilePath: ./gradio_ui/dockerfile
    plan: free

databases:
  - name: products-db
    plan: free
